/* element组件固定样式 */

.el-card {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  transition: background-color 0s ease;
  border-radius: 10px;
  border: none;
}

.el-link:hover {
  color: #626aef; /* 链接点击后颜色 */
}
/* 链接处理 */
/* 不显示下划线 */
.el-link {
  --el-link-hover-text-color: no;
}